@import "../src/index.css";

/* .marquee-container {
  display: flex; 
  overflow: hidden; 
  width: 100%; 
  position: relative; 
}

.marquee {
  display: flex; 
  animation: marquee 20s linear infinite; 
} */

/* .card-container {
  width: 15rem;
  height: 20rem;
  perspective: 1000px;
  margin-right: 1rem;
} */

.card-container {
  /* remove fixed width */
  height: 20rem;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem; /* Matches rounded-lg */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card-front span {
  color: white;
  font-size: 1.125rem; /* Matches text-lg */
}

.card-back {
  transform: rotateY(180deg);
}

.card-back h3 {
  color: white;
  font-size: 1.125rem; /* Matches text-lg */
  font-weight: 600; /* Matches font-semibold */
  margin-bottom: 0.5rem; /* Matches mb-2 */
}

.card-back p {
  color: #e5e7eb; /* Matches text-gray-200 */
  font-size: 0.875rem; /* Matches text-sm */
  text-align: center;
  padding-left: 1rem; /* Matches px-4 */
  padding-right: 1rem; /* Matches px-4 */
}
